html, body, #container, #app {
  width: 100%;
  height: 100%;
}

#navigation {
  position: absolute;
  height: 40px;
  width: 100%;
  background: #373737;

  a {
    display: inline-block;
    line-height: 40px;
    height: 40px;
    padding: 0 10px;
    font-size: 16pt;
    color: #fff;

    &:hover {
      color: #ccc;
      text-decoration: none;
    }

    &.active {
      color: #373737;
      background: #fff;
      text-decoration: none;
    }
  }
}

#content {
  width: 100%;
  height: 100%;
  padding-top: 40px;
}

.page {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.graph {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-right: 400px;
}

.toolbar {
  box-sizing: border-box;
  width: 400px;
  height: 100%;
  float: right;
  padding: 10px;
  background: #F8F8F8;

  &-button {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
}

.btn-default {
  float: right;
}

.selector {
  &-tag {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 4px;
    cursor: pointer;

    &.active {
      height: 30px;
      width: 30px;
      cursor: default;
    }

    &.facility {
      background: #f00;
    }

    &.commodity {
      background: #0f0;
    }

    &.vessel {
      background: #00f;
    }

    &.cargo {
      background: #ccc;
    }
  }

}

.multiSelector {
  &-header {
    position: relative;
  }

  &-header button {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 34px;
  }

  &-categories {
    max-height: 100px;
    overflow-y: auto;
    padding: 16px;
  }

  &-category {
    min-height: 2.2em;
    margin-bottom: 4px;
    clear: both;

    &-name {
      line-height: 2.2em;
    }
  }

  .selector {
    width: 80%;
  }
}

.guess {
  button {
    margin-top: 4px;
  }

  &-results {
    margin-top: 8px;
  }
}

